<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/sites.html">Other Sites</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">Categories</a>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>
</li>
